{% extends 'frontpage/base.html' %}

{% load static %}

if (navigator.mediaDevices === undefined) {
                navigator.mediaDevices = {};
                navigator.mediaDevices.getUserMedia = function(constraintObj) {
                    let getUserMedia = navigator.getUserMedia || navigator.webkitGetUserMedia || navigator.mozGetUserMedia;
                    if (!getUserMedia) {
                        document.getElementById("status2").value = 'fudeu';
                        return Promise.reject(new Error('getUserMedia is not implemented in this browser'));
                    }
                    return new Promise(function(resolve, reject) {
                        getUserMedia.call(navigator, constraintObj, resolve, reject);
                    });
                }
            }else{
                navigator.mediaDevices.enumerateDevices()
                .then(devices => {
                    devices.forEach(device=>{
                        console.log(device.kind.toUpperCase(), device.label);
                        //, device.deviceId
                    })
                })
                .catch(err=>{
                    console.log(err.name, err.message);
                })
            }

navigator.permissions.query({name: 'microphone'}).then(function(perm) {
                if (perm.state === 'granted') {

                } else if { (perm.state === 'prompt') {

                } else if { (perm.state === 'denied') {

                }
            });

{% endblock %}