<html>
    <head>
        <title>Exames Cognitivos</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Exames</a></h1>
        </div>
        <div>
            <h1><a href="/">Profissional</a></h1>
            <h1><a href="/">Auto-exame</a></h1>
        </div>
        <div>
            {% for exame in exames %}
                <div>
                    <h2><a href=""> paciente: {{ exame.paciente }}</a></h2>
                    <p>idade: {{ exame.idade }}, tempo de estudo: {{ exame.tempo_estudo }}, genero: {{ exame.genero }} </p>
                    <p>{{ exame.resultados|linebreaksbr }}</p>
                </div>
            {% endfor %}
        </div>
    </body>
</html>