{% extends 'frontpage/base.html' %}

{% block content %}
    <div class="post">
        <h2><a href=""> Bem-vindo </a></h2>
        <p>
            Esse site é uma das etapas de desenvolvimento do projeto de doutorado intitulado "Adaptação de Testes
            Cognitivos para Aplicação por uma Plataforma Robótica".
        </p>
        <p> Doutorando: Rodrigo Melo </p>
        <p>Orientador: Prof. Dr. Carmelo Bastos-Filho</p>
        <p>Co-orientador: Prof. Dr. Sergio Campello Oliveira</p>
    </div>
    <div>
        <h2><a href="{% url 'formulario' %}">Formulário</a></h2>
    </div>
{% endblock %}