{% extends 'frontpage/base.html' %}

{% load static %}

    <head>
        <meta charset="UTF-8">
    </head>


{% block content %}
    <div>
        <h2>Teste de Fluência Verbal Semântica</h2>
        <p>Esse teste consiste em se falar o maior número de animais que o(a) paciente conseguir lembrar dentro de <br>
            um certo intervalo de tempo. Para realizar o teste através desse site, por favor, verifique a presença <br>
            do microfone e conceda a autorização ao acesso do microfone. </p>
        <p>Quando estiver pronto clique no botão abaixo para começar a gravar. Durante o processo de gravação, <br>
        a caixa de texto irá mostrar "gravando". Ao termino do tempo a mensagem irá mudar para "processando". <br>
        Após o processamento, a página será redirecionada para uma tela onde será exibido os resultados.</p>
    </div>

    <div class="post">
        Status2: <input type="text" id="status2" value="Aguardando">
        <input type="hidden" id="pacienteID" value="{{paciente}}">
        <button id="gravar" onclick="record(paciente())">Record</button>
<!--        <audio id=recordedAudio style="display:none;"></audio>-->
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

    <script>
        function paciente() {
            var x = document.getElementById("pacienteID").value;
            return x
        }

        function record(pac) {
            let constraintObj = {
                audio: {
                    sampleSize: 16,
                    channelCount: 1,
                    sampleRate: 16000
                },
                video: false
            }
            if (navigator.mediaDevices === undefined) {
                navigator.mediaDevices = {};
                navigator.mediaDevices.getUserMedia = function(constraintObj) {
                    let getUserMedia = navigator.getUserMedia || navigator.webkitGetUserMedia || navigator.mozGetUserMedia;
                    if (!getUserMedia) {
                        document.getElementById("status2").value = 'fudeu';
                        return Promise.reject(new Error('getUserMedia is not implemented in this browser'));
                    }
                    return new Promise(function(resolve, reject) {
                        document.getElementById("status2").value = 'cheguei aqui';
                        getUserMedia.call(navigator, constraintObj, resolve, reject);
                    });
                }
            } else {
                document.getElementById("status2").value = 'olha esses devices';
                navigator.mediaDevices.enumerateDevices()
                .then(devices => {
                    devices.forEach(device=>{
                        console.log(device.kind.toUpperCase(), device.label);
                        //, device.deviceId
                    })
                })
                .catch(err=>{
                    console.log(err.name, err.message);
                })
            }
            navigator.mediaDevices.getUserMedia(constraintObj)
                .then(stream => { handlerFunction(stream) })
        }

        function handlerFunction(stream) {
            document.getElementById("status2").value = 'gravando';
            gravar.disabled = true;
            rec = new MediaRecorder(stream);
            audioChunks = [];
            rec.start();
            // TODO: settar o time pra 1 minuto (60000)
            setTimeout(() => {
                document.getElementById("status2").value = 'processando';
                rec.stop();
                console.log('parei de gravar')
            }, 60000);
            rec.ondataavailable = e => {
                audioChunks.push(e.data);
                if (rec.state == "inactive") {
                    let blob = new Blob(audioChunks, { type: 'audio/wav;codecs=0' });
                    //recordedAudio.src = URL.createObjectURL(blob);
                    //recordedAudio.controls = true;
                    //recordedAudio.autoplay = true;
                    sendData(blob)
                }
            }
        }

        function sendData(blob) {

            //console.log("teste")
            //console.log(blob)
            //console.log({{ key }})
            var fd = new FormData();
            fd.append('fname', 'test.wav');
            fd.append('banda', blob);
            fd.append('csrfmiddlewaretoken', '{{ csrf_token }}')
            $.ajax({
                type: 'POST',
                data: fd,
                cache: false,
                contentType: false,
                processData: false,
                success: function (data) {
                    window.location = '/teste_cognitivo/resultados/'+{{ key }}+'/'
                }
            }).done(function(data) {
                //console.log('funfou');
            });
        }
    </script>

{% endblock %}